.body{
    padding: 0;
    margin: 0;
}
.heder{
    background-color: dimgray;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
min-height: 100px;
}
.name{
    color: black;
    font-size: 20px;
    margin-left: 20px;
}
.hhj{
    margin: 20px;
    color: black;

}
.blog{
    color: black;
    margin-left: 20px;
}
.titul{
    display: flex;
    align-content: flex-start;
    min-height: 100px;
}
.names{
    display: flex;
    flex-direction: column;
    background-color: lightslategrey;
    min-height: 50px;
}
.login{

    display: flex;
    justify-content: space-between;
background-color: red;
}



.section{
    min-height: 500px;
    display: flex;
    justify-content: center;
}


.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
background-color: aquamarine;
   height: 150px;

}
.nn{
    display: flex;
    justify-content: center;
}
.kk{
    display: flex;
    justify-content: center;
}
.enter {
    height: 300px;
    width: 400px;
    background-color: red;
    margin-top: 50px;
}
