.body{
    padding: 0;
    margin: 0;
}
.heder{
    background-color: lightslategrey;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    min-height: 100px;
}
.name{
    color: black;
    font-size: 20px;
    margin-left: 20px;
}
.hhj{
    margin: 20px;
    color: black;

}
.blog{
    color: black;
    margin-left: 20px;

}
.titul{
    display: flex;
    align-content: flex-start;
    min-height: 100px;
}
.names{
    display: flex;
    flex-direction: column;
    background-color: lightslategrey;
    min-height: 50px;
}
.login{
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.lbloc{
    display: flex;
    justify-content: center;
}

.vvv{
    display: flex;
    justify-content: center;
}
.form {
    text-align: center;
    margin-top: 80px;
}
.for{
    padding-top: 10px;
}
.hhj{
    text-decoration: none;
}

.enter {
    height: 300px;
    width: 400px;
    background-color: lightslategrey;
    margin-top: 50px;
}
.vvv{
    display: flex;
    justify-content: center;
}
.form {
    text-align: center;
    margin-top: 80px;
}
.for{
    padding-top: 10px;
}
#first {
    margin-right: 36px;

}
.label{
    margin: 10px;
}
.buttom{
    margin-left: 160px;
}
.hhj{
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightslategrey;
    height: 150px;

}
.nn{
    display: flex;
    justify-content: center;
}
.kk{
    display: flex;
    justify-content: center;
}